/* You can add global styles to this file, and also import other style files */

.form-group{
  padding-top: 20px;
}

.container{
  padding-top: 20px;
}

.card, .list-group-item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.food-mark{
  background-color: rgb(209, 209, 209);
  padding: 5px;
  font-size: 12px;
  color: #000;
  border-radius: 5px;
}

.food-mark:hover{
  background-color: #000;
  color: #fff;
}

.photos-meal{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.btn-register{
  background-color: #102542;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 100%;
}

.btn-register:hover{
  background-color: #118ab2;
  color: #fff;
}

::ng-deep .form-group .mat-chip-row.mat-chip-selected {
  color: blue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
