<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="text-center m-1">
            <img src="../../assets/images/LogoTap.png" alt="Logo" width="100">
          </div>
          <form>
            <div class="form-group">
              <label for="username" class="mb-2">Nombre de usuario</label>
              <input type="text" class="form-control" id="username" placeholder="Ingresa tu nombre de usuario">
            </div>
            <div class="form-group mb-4">
              <label for="password" class="mb-2">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
            </div>
            <div class="text-center pt-3">
              <button type="submit" class="btn-register">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
